<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>
    <style>
      h1 {
        text-align: center;
        font-family: courier;
      }
    </style>
  </head>

  <body>
    <h1>Covid19 Cases in Countries around the world</h1>
    <div>
      <canvas id="myChart"></canvas>
    </div>

    <script>
                const labels = {{countryList|safe}};

                const data = {
                  labels: labels,
                  datasets: [
                    {
                      label: "Covid 19 Death",
                      backgroundColor: "rgb(255, 99, 132)",
                      borderColor: "rgb(255, 99, 132)",
                      data: {{countryValueList|safe}},
                    },
                  ],
                };

                const config = {
        type: 'bar',
        data: data,
        options: {}
      };
    </script>
    <script>
      const myChart = new Chart(document.getElementById("myChart"), config);
    </script>
  </body>
</html>
